@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css");

* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", "Rounded Mplus 1c", sans-serif;
  font-size: 14px;
  line-height: 1.2em;
}

.page-wrapper {
  position: relative;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 240px;
  padding: 12px;
  z-index: 1;
  background-color: rgb(31, 31, 31);
  color: white;

  &-header {
    &-profile {
      display: flex;
      align-items: center;
      padding: 6px 4px;

      .profile-column--left {
        padding-right: 12px;

        .profile-image {
          border-radius: 50%;
          width: 48px;
        }
      }

      .profile-column--right {
        flex-grow: 3;

        .display-name {
          padding-bottom: 3px;
          font-weight: bold;
        }

        .email {
          color: lightgray;
          font-size: 0.8em;
        }
      }
    }
  }

  &-footer {
    position: absolute;
    right: 12px;
    bottom: 12px;
    text-align: right;
  }
}

.page-content {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin-left: 240px;
  padding: 12px;
}

.global-nav {
  padding-left: 0;
  list-style-type: none;

  &-item {
    p {
      padding: 18px;
    }

    &.active p {
      background-color: white;
      color: black;
    }

    &__link {
      display: block;
      color: white;
      font-weight: bold;
      text-decoration: none;

      &:hover {
        background-color: gray;
        color: black;
        text-decoration: none;
      }
    }
  }
}

.page-heading {
  padding: 18px 0;
  color: #2222aa;
  font-size: 2em;
}

form {
  .annotation {
    margin-left: 4px;
    font-size: 0.9em;
  }

  .checkbox-container {
    input {
      position: relative;
      top: 2px;
    }

    label {
      margin-left: 4px;
      font-weight: normal;
    }
  }

  .datepicker-wrapper {
    display: flex;
    align-items: baseline;

    .use-current-date-time-checkbox {
      margin-right: 12px;
    }

    .datepicker-container {
      display: block;

      input {
        width: 200px;

        &.hidden {
          visibility: hidden;
        }
      }
    }
  }

  .markdown-textarea {
    &-container {
      display: flex;
    }

    &-column--left {
      flex: 1;
    }

    &-column--right {
      flex: 1;
      padding: 0 8px;
    }

    &-preview {
      height: 512px;
      padding: 8px;
      border: 1px dotted #cdcdcd;
      overflow: scroll;
    }
  }

  .image-field-wrapper {
    padding: 4px 0 8px;

    .image-field {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      margin: 0 8px 8px 0;
      overflow: hidden;
      border: 1px dotted #ababab;

      .image-file-input-label {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;

        .image-file-input {
          display: none;
        }

        .image-file-upload-icon {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          margin: auto;
          color: lightgray;
          text-align: center;
        }
      }
    }
  }

  .images-field-wrapper {
    padding: 8px 0;

    .images-field {
      display: flex;
      flex-wrap: wrap;
    }

    .image-field {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 200px;
      height: 200px;
      margin: 0 8px 8px 0;
      overflow: hidden;
      border: 1px dotted #ababab;
      cursor: move;

      &.removed {
        cursor: pointer;
        .preview-image {
          opacity: 0.2;
        }
      }

      &-remove-button {
        position: absolute;
        top: 8px;
        right: 8px;
        cursor: pointer;

        i {
          font-size: 1.2em;
          color: darkred;
        }
      }

      .image-file-input-label {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: 0;

        .image-file-input {
          display: none;
        }

        .image-file-upload-icon {
          display: block;
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          width: 64px;
          height: 64px;
          margin: auto;
          color: lightgray;
          font-size: 64px;
          line-height: 64px;
          text-align: center;
        }
      }
    }
  }
}

hr {
  margin: 20px 0;
  border: 0;
  border-top: 1px solid #eeeeee;
}

.grid {
  &-row {
    &.editing {
      background-color: cornsilk !important;
    }

    &.all {
      background-color: aliceblue !important;
    }
  }

  &-cell {
    overflow-y: hidden;
    vertical-align: middle !important;

    &.column-checks {
      width: 32px;
    }
  }
}

.controls {
  padding: 0 12px 24px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
}

.error-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.page-loading {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9;
  background-color: white;
  transition: opacity 250ms;

  .loading-image {
    display: block;
    width: 64px;
    height: 64px;
    animation: loading_image 2s linear infinite;
    transform: translate(-50%, -50%);
  }
}

@keyframes loading_image {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(90deg);
  }
  25% {
    transform: rotate(90deg);
  }
  35% {
    transform: rotate(180deg);
  }
  50% {
    transform: rotate(180deg);
  }
  60% {
    transform: rotate(270deg);
  }
  75% {
    transform: rotate(270deg);
  }
  85% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
