@import "mixins";

.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: lavender;
}

.login-form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 320px;
  margin: 0 auto 24px;
  padding: 24px;
  background-color: white;
  border-radius: 8px;

  .site-logo {
    display: block;
    width: 256px;
    margin: 12px 0 48px 0;
  }
}
