@import "mixins";

.top-image-upload-form {

  label {
    font-weight: bold;
    padding-right: 4px;
  }

  .error-message {
    color: darkred;
    padding-left: 8px;
  }

  .image-field-wrapper {
    .image-field {
      width: 400px;
      height: 225px;

      .image-file-input-label {
        .image-file-upload-icon {
          font-size: 64px;
          width: 64px;
          height: 64px;
          line-height: 64px;
        }
      }
    }

    .thumbnail-image-field {
      width: 64px;
      height: 64px;

      .image-file-input-label {
        .image-file-upload-icon {
          font-size: 32px;
          width: 32px;
          height: 32px;
          line-height: 32px;
        }
      }
    }
  }

  .description-textarea {
    height: 12em;
    resize: vertical;
  }
}

.top-image-controls {

  .delete-button {
    margin-right: 8px;
  }
}

.top-image-grid {

  .image-field {
    display: inline-block;
    position: relative;
    border: 1px solid #dedede;
    padding: 4px;
    overflow: hidden;

    .preview-image {
      display: block;
      bottom: 0;
      left: 0;
      margin: auto;
      position: absolute;
      right: 0;
      top: 0;
      width: 100%;
    }

    &-remove-button {
      cursor: pointer;
      position: absolute;

      i {
        color: darkred;
      }
    }

    .image-file-input-label {
      display: block;
      margin: 0;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;

      .image-file-input {
        display: none;
      }

      .image-file-upload-icon {
        color: lightgray;
        display: block;
        margin: auto;
        text-align: center;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        position: absolute;
      }
    }
  }

  .column-image {
    width: 200px;
    text-align: center;
    overflow-x: hidden;
  }

  .image-field {
    width: 200px;
    height: 113px;

    .image-field-remove-button {
      top: 8px;
      right: 8px;

      i {
        font-size: 1.2em;
      }
    }

    .image-file-input-label {
      .image-file-upload-icon {
        font-size: 48px;
        width: 48px;
        height: 48px;
        line-height: 48px;
      }
    }
  }

  .column-thumbnail-image {
    width: 150px;
    text-align: center;
    overflow-x: hidden;
  }

  .thumbnail-image-field {
    width: 32px;
    height: 32px;

    .image-field-remove-button {
      top: 0px;
      right: 4px;

      i {
        font-size: 1em;
      }
    }

    .image-file-input-label {
      .image-file-upload-icon {
        font-size: 16px;
        width: 16px;
        height: 16px;
        line-height: 16px;
      }
    }
  }

  .column-description {
    min-width: 250px;
    white-space: pre-wrap;
  }

  .description-textarea {
    height: 82px;
  }

  .column-date {
    width: 200px;
  }

  .date-row {
    padding-bottom: 8px;
  }

  .date-value {
    padding-left: 4px;
  }

  .column-controls {
    text-align: center;
    width: 140px;
  }
}
