@import "mixins";

.work-form {
  label {
    font-weight: bold;
    padding-right: 4px;
  }

  .error-message {
    color: darkred;
    padding-left: 8px;
  }

  .title-input {
  }

  .description-textarea {
    height: 512px;
    resize: none;
  }
}

.work-grid {
  .column-title {
    min-width: 200px;
  }

  .column-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-width: 250px;
    overflow-x: hidden;
  }

  .image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #dedede;
    width: 100px;
    height: 100px;
    margin: 2px;
    padding: 4px;
    overflow: hidden;
  }

  .image {
    display: block;
    bottom: 0;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 98px;
  }

  .column-description {
    min-width: 250px;
    white-space: pre-wrap;
    overflow-y: auto;
  }

  .description__fixed-label {
    max-height: 152px;
  }

  .column-date {
    width: 200px;
  }

  .date-row {
    padding-bottom: 8px;
  }

  .date-value {
    padding-left: 4px;
  }

  .column-controls {
    text-align: center;
    width: 140px;
  }
}
